*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* top-banner-section-style-start */
#top-banner{
    background-image: url(media/img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container{
    width: 80%;
    margin: auto;
}
.top-banner-container{
    padding-top: 15%;
}
.top-banner-container h1{
    color: #fff;
    font-size: 50px;
    line-height: 60px;
}
.top-banner-container p{
    color: #fff;
    font-size: 19px;
    width: 50%;
    font-weight: 400;
    line-height: 25px;
    margin-top: 1%;
}
.btn{
    display: inline-block;
    padding: 15px 40px;
    background: dodgerblue;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    margin-top: 2%;
    border-radius: 5px;
    transition: 0.4s;
    border: 1px solid dodgerblue;
}
.btn:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid gold;
    border-radius: 0;
}
/* top-banner-section-style-end */

/* seconde-section-style-start */
#seconde-section{
    margin: 120px 0;
}
.flexible-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.half-width{
    width: 50%;
}
.text-style h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.text-style p{
    font-size: 18px;
    line-height: 25px;
    width: 70%;
    text-align: left;
}
.btn-style-two:hover{
    color: #fff;
    background-color: gold;
}
#seconde-para{
    margin-top: 15px;
    margin-bottom: 20px;
}
.part-2{
    margin-top: 120px;
}
/* seconde-section-style-end */

/* third-section-style-start */
#third-section{
    background: #72CAAF;
    padding: 70px 0;
}
.third-section-flexible-container{
    width: 60%;
    margin: auto;
}
.third-section-text-style-heading{
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.third-section-text-style-para{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    color: #fff;
}
.third-section-flexible-container{
    margin-top: 50px;
}
.box-one{
    display: flex;
    width: 47%;
    justify-content: center;
    padding: 40px 25px;
    border-radius: 0px;
    background: linear-gradient(145deg, #67b69e, #7ad8bb);
    box-shadow: 6px 6px 20px -1px #61ac95,
               -6px -6px 20px -1px #83e8c9;
}
.icon img{
    width: 100%;
}
.icon{
    width: 50%;
    margin-right: 20px;
}
.content h1{
    margin-bottom: 15px;
    font-size: 25px;
}
.content p{
    line-height: 25px;
    font-size: 18px;
}
/* third-section-style-end */

/* fourth-section-style-start */
#fourth-section{
    margin: 100px 0;
}
#first-img{
    margin-right: 30px;
}
#first-img img{
    width: 100%;
}
#first-img:last-child{
    margin-right: 0;
}
/* fourth-section-style-end */